source https://api.nuget.org/v3/index.json

nuget FSharp.Core ~> 4.0.0.1
nuget ReactiveProperty
nuget AvalonEdit
nuget FSharp.Compiler.Service ~> 8.0
nuget YC.PrettyPrinter ~> 0.0.5

github icsharpcode/SharpDevelop src/AddIns/BackendBindings/FSharpBinding/Resources/FS-Mode.xshd

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget SourceLink.Fake
  nuget FAKE.Persimmon

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json

  nuget Persimmon
  nuget Persimmon.MuscleAssert

