type project
owners
    pocketberserker
authors
    pocketberserker
projectUrl
    https://github.com/pocketberserker/ComVu
licenseUrl
    https://github.com/pocketberserker/ComVu/blob/master/LICENSE
requireLicenseAcceptance
    false
tags
    F#, computation expressions
description
    Computation Expression Visualizer(Core).
